<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/resep_image.JPG" alt="resep" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Azizan</h1>
            <p class="lead">Lecturer | Content Creator</p>
        </div>
    </div>
</div>